<div class="container">
    <div class="card">
        <div class="card-header" style="background-color: #2D6A4F">
            <h4 class="text-light fs-4">Formulir Packaging</h4>
        </div>
        <div class="card-body">
            <form action="<%= targetRoute %>" method="post">
                Nama Packaging
                <input type="text" name="nama_pack" id="" class="form-control mb-2" value="<%= nama_pack %>" required>
                Harga
                <input type="number" name="harga" id="" class="form-control mb-2" value="<%= harga %>" required>
                Harga
                <input type="number" name="volume" id="" class="form-control mb-2" value="<%= volume %>" required>

                <button class="btn mt-2" type="submit" style="background-color: #2D6A4F; color: white;" onclick="return confirm(`Apakah anda yakin data ini sudah benar?`)">Simpan</button>
            </form>
        </div>
    </div>
</div>